<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Contact</title>
  </head>
  <body>
    <div class="container">
      <div>
        <li>Home</li>
      </div>
      <div>
        <li>About</li>
      </div>
      <li>Signup</li>
      <div>
        <li>Signout</li>
      </div>
      <li>Anime</li <div>
      <li>Furry</li>
      <div>
      </div>
  </body>
</html>
