<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>The Anime Dating Website</title>
  </head>
  <body>
    <div class="container">
      <div class="item-1">
        <li>
          <a href="/">Home</a>
        </li>
      </div>
      <div class="item-2">
        <li>
          <a href="/profile">Profile</a>
        </li>
      </div>
      <div class="item-3">
        <li>
          <a href="/signup">Signup</a>
        </li>
      </div>
      <div class="item-4">
        <li>
          <a href="/signout">Signout</a>
        </li>
      </div>
      <div <a class="item-5" <li><a href="/anime">Anime</a>
        </li>
  </div>
</div>
<h1>AnimeMeet</h1>
<div>
  <form action="/signup" method="POST">
    <input type="text" name="user[name]" placeholder="User"><br>
    <input type="text" name="user[email]" placeholder="Email"><br>
    <input type="password" name="user[password]" placeholder="Password"><br>
    <input type="submit" value="Sign up">
  </form>
</div>
<img src="https://steemitimages.com/DQmeRTV7T2QwH73NyV7y8XU96HuBrLXnHHiedMCFw8ZPBnr/FBPcover.png">
</body>
</html>
