<div class="container">
  <div>
    <li>Home</li>
  </div>
  <div>
    <li>About</li>
  </div>
  <li>Signup</li>
  <div>
    <li>Signout</li>
  </div>
  <li>Anime</li <div>
  <li>Furry</li>
  <div>
  </div>
