<% flash[:error] %>
  <%= flash[:error] %>
  <% end %>

<form action="/login" method="POST">
  <input type="text" name="user[name]" placeholder="username"><br>
  <input type="text" name="user[email]" placeholder="Email"><br>
  <input type="password" name="user[password]" placeholder="user-password"><br>
  <input type="submit" value="Sign up">
</form>
